includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8

	ignoreErrors:
		-
			message: '#^Parameter \$sameSite of method Webnazakazku\\MangoTester\\HttpMocks\\Session\:\:setCookieParameters\(\) has invalid type Nette\\Http\\SameSite\.$#'
			reportUnmatched: false
