parameters:
    ignoreErrors:
        - "#^Return type \\(void\\) of method Mangoweb\\\\Tester\\\\HttpMocks\\\\Session\\:\\:setHandler\\(\\) should be compatible with return type \\(static\\(Nette\\\\Http\\\\Session\\)\\) of method Nette\\\\Http\\\\Session\\:\\:setHandler\\(\\)$#"
